<h3>Estado de los servicios de FluxIT</h3>
<ul class="services-statuses">
	{{#each services}}
	<li class="service" title="Click para obtener mas informacion">
		<i class='status {{toLowerCase this.status}}' title="{{detailedStatus this.status}}"></i>
		{{this.name}}
		<div class="service-detail hidden">
			<ul>
				<li><strong>Estado:</strong> {{detailedStatus this.status}}</li>
				{{#if this.message}}
    				<li><strong>Mensaje:</strong> {{this.message}}</li>
  				{{/if}}
			</ul>
		</div>
	</li>
	{{else}}
  		<div class="no-asociated-services">No existen servicios asociados</div>
	{{/each}}
</ul>