<h3>Estado de los servicios de FluxIT</h3>
<ul class="services-statuses">
	{{#each services}}
	<li class="service" title="Click para obtener mas informacion">
		<i class='status {{toLowerCase this.status}}' title="{{detailedStatus this.status}}"></i>
		{{this.name}}
		<div class="service-detail hidden">
			<ul>
				<li><strong>Estado:</strong> {{detailedStatus this.status}}</li>
				<li><strong>Descripcion:</strong> {{this.description}}</li>
				<li><strong>Nivel:</strong> {{this.level}}</li>
				<li><strong>Categoria:</strong> {{this.category}}</li>
				<li class="resource_type_{{toLowerCase this.resource_type}}">
				<strong>Recurso:</strong> {{constructResource this.resource_location}}</li>
			</ul>
		</div>
	</li>
	{{else}}
  		<div class="no-asociated-services">No existen servicios asociados</div>
	{{/each}}
</ul>